* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ffe8e8; }

.navbar-nav {
  font-family: "Pacifico", cursive;
  font-size: 1.3rem; }
  .navbar-nav li {
    border: 2px solid #209cb8;
    margin: 0 1.5rem;
    padding: 5px; }

.nav-link {
  color: #209cb8 !important; }
  .nav-link:hover {
    color: #ed6fa3 !important; }

.logo {
  background-color: #81ccdd;
  width: 5rem; }

.titulo_principal, .titulo_secundario {
  color: #81ccdd;
  font-family: "Berkshire Swash", cursive;
  font-size: 4rem;
  text-align: center;
  margin-top: 1rem; }

.titulo_secundario {
  color: #209cb8;
  font-size: 3rem; }

.seccion_1 {
  font-family: "Berkshire Swash", cursive;
  background-color: #81ccdd;
  margin: 1rem 0rem;
  padding: 2rem 0rem; }
  .seccion_1 h3 {
    font-size: 3rem;
    color: white; }
  .seccion_1 h4 {
    font-size: 2.5rem;
    color: #ed6fa3; }
  .seccion_1 a {
    text-decoration: none;
    font-family: "Pacifico", cursive;
    padding: 1rem;
    background-color: #ed6fa3;
    color: white; }
    .seccion_1 a:hover {
      color: #81ccdd;
      transition: 0.5s; }

.seccion_2 {
  font-family: "Pacifico", cursive;
  background-color: #ed6fa3;
  margin: 2rem 0rem;
  padding: 2rem 0rem; }
  .seccion_2 h3 {
    font-size: 3rem;
    color: white; }
  .seccion_2 a:hover {
    opacity: 0.6;
    cursor: pointer; }

.contenedor_footer {
  margin-top: 2rem; }
  .contenedor_footer .contenedor_footer_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #81ccdd;
    padding: 1rem 0rem; }
    .contenedor_footer .contenedor_footer_section h5 {
      width: 100%;
      padding-bottom: 1rem;
      margin: 0rem; }
    .contenedor_footer .contenedor_footer_section form input {
      font-family: "Berkshire Swash", cursive;
      font-size: 1rem;
      padding: 1rem;
      border: none; }
    .contenedor_footer .contenedor_footer_section .contenedor_footer_section_suscribe {
      color: white;
      background-color: #ed6fa3; }
      .contenedor_footer .contenedor_footer_section .contenedor_footer_section_suscribe:hover {
        opacity: 0.8; }

.footer_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; }
  .footer_nav .footer_nav_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }
    .footer_nav .footer_nav_bar h5 {
      color: #209cb8;
      font-family: "Berkshire Swash", cursive;
      font-size: 1.5rem;
      width: 100%; }
    .footer_nav .footer_nav_bar ul {
      list-style: none;
      padding: 0; }
      .footer_nav .footer_nav_bar ul li a {
        text-decoration: none;
        color: #209cb8;
        font-family: "Berkshire Swash", cursive;
        font-size: 1rem; }
        .footer_nav .footer_nav_bar ul li a:hover {
          color: #ed6fa3;
          transition: 0.5s; }

#tour {
  font-family: "Berkshire Swash", cursive;
  border: 2px solid black;
  background-color: #81ccdd; }
  #tour .tour_title {
    background-color: #ed6fa3;
    color: white;
    padding: 0.5rem; }
    #tour .tour_title h1 {
      margin-bottom: 0; }
  #tour .tour_body {
    font-size: 1.2rem; }
    #tour .tour_body .row {
      border-top: 2px solid black;
      align-items: center; }
      #tour .tour_body .row p {
        padding: 1rem;
        margin-bottom: 0; }
        #tour .tour_body .row p span {
          cursor: pointer; }
          #tour .tour_body .row p span:hover {
            color: #ed6fa3;
            transition: 0.2s; }

.album_1 {
  font-family: "Berkshire Swash", cursive;
  background-color: #81ccdd;
  border: 5px solid #ed6fa3; }
  .album_1 .card-title {
    color: #ed6fa3;
    font-size: 2rem; }
  .album_1 .card-text {
    color: white;
    font-size: 1.2rem; }
  .album_1 img:hover {
    opacity: 0.6; }

.album_2 {
  font-family: "Berkshire Swash", cursive;
  background-color: #595b3c;
  border: 5px solid #fce300ef; }
  .album_2 .card-title {
    color: #fce300;
    font-size: 2rem; }
  .album_2 .card-text {
    color: white;
    font-size: 1.2rem; }
  .album_2 img:hover {
    opacity: 0.6; }

.album_3 {
  font-family: "Berkshire Swash", cursive;
  background-color: #000000f3;
  border: 5px solid #df2a2a; }
  .album_3 .card-title {
    color: #df2a2a;
    font-size: 2rem; }
  .album_3 .card-text {
    color: white;
    font-size: 1.2rem; }
  .album_3 img:hover {
    opacity: 0.6; }

.album_4 {
  font-family: "Berkshire Swash", cursive;
  background-color: #e7e7e7;
  border: 5px solid #89a9ce; }
  .album_4 .card-title {
    color: #89a9ce;
    font-size: 2rem; }
  .album_4 .card-text {
    color: #5a7696;
    font-size: 1.2rem; }
  .album_4 img:hover {
    opacity: 0.6; }

#galeria img {
  border: 5px solid #ed6fa3; }
  #galeria img:hover {
    transform: scale(1.05, 1.05);
    transition: 1s;
    filter: brightness(110%); }

#tienda {
  background-color: #81ccdd;
  border: 5px solid #ed6fa3; }
  #tienda h1 {
    font-family: "Berkshire Swash", cursive;
    font-size: 3rem;
    color: #ed6fa3; }
  #tienda .store_body {
    font-family: "Berkshire Swash", cursive;
    font-size: 1.5rem;
    color: white; }
    #tienda .store_body .row {
      margin: 0.5rem; }
      #tienda .store_body .row div {
        border: 1px solid white;
        transition: transform 0.5s; }
        #tienda .store_body .row div:hover {
          transform: translateY(-3px);
          opacity: 0.6;
          cursor: pointer; }
        #tienda .store_body .row div p {
          margin-bottom: 0.5rem; }

#error {
  margin: 2.5rem 0rem;
  text-align: center; }
  #error h1 {
    font-family: "Berkshire Swash", cursive;
    font-size: 9rem;
    color: #ed6fa3; }
  #error h2 {
    font-family: "Pacifico", cursive;
    font-size: 3rem; }
    #error h2 a {
      color: #81ccdd;
      text-decoration: none; }
      #error h2 a:hover {
        color: #209cb8;
        transition: 0.5s; }

@media (max-width: 767px) {
  #error h1 {
    font-size: 4rem; } }

@media (max-width: 767px) {
  .tour_body .row p {
    padding: 0.5rem !important; } }
