#galeria {
    img {
        border: 5px solid $rosa;
            &:hover {
                transform: scale(1.1, 1.1);
                transition: 1s;
                filter: brightness(110%);
            }
    }
}