.titulo_principal {
    color: $celeste;
    font-family: $fuente1;
    font-size: 4rem;
    text-align: center;
    margin-top: 1rem;
}

.titulo_secundario {
    @extend .titulo_principal;
    color: $azul;
    font-size: 3rem;
}

.seccion_1 {
    font-family: $fuente1;
    background-color: $celeste;
    margin: 1rem 0rem;
    padding: 2rem 0rem;
    h3 {
        font-size: 3rem;
        color: $blanco;
    }
    h4 {
        font-size: 2.5rem;
        color: $rosa;
    }
    a {
        text-decoration: none;
        font-family: $fuente2;
        padding: 1rem;
        background-color: $rosa;
        color: $blanco;
        &:hover {
            color: $celeste;
            transition: 0.5s;
        }
    }
}

.seccion_2 {
    font-family: $fuente2;
    background-color: $rosa;
    margin: 2rem 0rem;
    padding: 2rem 0rem;
    h3 {
        font-size: 3rem;
        color: $blanco;
    }
    a {
        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }
    }
}