#tienda {
    background-color: $celeste;
    border: 5px solid $rosa;
    h1 {
        font-family: $fuente1;
        font-size: 3rem;
        color: $rosa;
    }
    .store_body {
        font-family: $fuente1;
        font-size: 1.5rem;
        color: $blanco;
        .row {
            margin: 0.5rem;
            div {
                border: 1px solid $blanco;
                transition: transform 0.5s;
                &:hover {
                    transform: translateY(-3px);
                    opacity: 0.6;
                    cursor: pointer;
                }
                p {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}