#tour {
    font-family: $fuente1;
    border: 2px solid black;
    background-color: $celeste;
    .tour_title {
        background-color: $rosa;
        color: $blanco;
        padding: 0.5rem;
        h1 {
            margin-bottom: 0;
        }
    }
    .tour_body {
        font-size: 1.2rem;
        .row {
            border-top: 2px solid black;
            align-items: center;
            p {
                padding: 1rem;
                margin-bottom: 0;
                span {
                    cursor: pointer;
                        &:hover {
                            color: $rosa;
                            transition: 0.2s;
                        }
                }
            }
        }
    }
}